__pycache__/
*.py[cod]
*.ipynb_checkpoints

.env
.venv/
env/
venv/

cc.pl.300.vec
*.vec
*.bin

train/train.tsv.gz
dev-0/expected.tsv
dev-0/in.tsv
test-A/in.tsv

.DS_Store
.vscode/
*.swp


*.log
*.tmp
*.bak
